In [136]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

In [137]:
import glob

In [138]:
amazon_prime_titles=pd.read_csv(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\FastApiPlataforma\PI -punto PY\amazon_prime_titles.csv",sep=",")
disney_plus_titles=pd.read_csv(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\FastApiPlataforma\PI -punto PY\disney_plus_titles.csv",sep=",")
hulu_titles=pd.read_csv(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\FastApiPlataforma\PI -punto PY\hulu_titles.csv",sep=",")
netflix_titles=pd.read_csv(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\FastApiPlataforma\PI -punto PY\netflix_titles.csv",sep=",")
glob.glob(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\PI_ML_OPS-main\Dataset\MLOpsReviews\ratings\*.csv")

['C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\1.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\2.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\3.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\4.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\5.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\6.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\7.csv',
 'C:\\Users\\CAC\\Desktop\\HENRY\\DATA SCIENSE\\1 CURSO DT08-GRUPO 03\\PROYECTOS FINALES\\PI DATA ENGINEER 13-03-2023\\PI_ML_OPS-main\\Dataset\\MLOpsReviews\\ratings\\8.csv']

In [139]:
amazon_prime_title=amazon_prime_titles.copy()
disney_plus_title=disney_plus_titles.copy()
hulu_title=hulu_titles .copy() 
netflix_title=netflix_titles.copy()

In [140]:
amazon_prime_title["show_id"]="a"+amazon_prime_title["show_id"]
disney_plus_title["show_id"]="d"+disney_plus_title["show_id"]
hulu_title["show_id"]="h"+hulu_title["show_id"]
netflix_title["show_id"]="n"+netflix_title["show_id"]

#se crea una columna con el nombre de las plataformas
amazon_prime_title["plataforma"]="amazon"
disney_plus_title["plataforma"]="disney"
hulu_title["plataforma"]="hulu"
netflix_title["plataforma"]="netflix"

In [154]:
General = amazon_prime_title.append(disney_plus_title).append(hulu_title).append(netflix_title)
b=General.copy()
b.rename(columns={ 'show_id' : 'id' },inplace=True)
b

C:\Users\CAC\AppData\Local\Temp\ipykernel_11196\810477612.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  General = amazon_prime_title.append(disney_plus_title).append(hulu_title).append(netflix_title)
C:\Users\CAC\AppData\Local\Temp\ipykernel_11196\810477612.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  General = amazon_prime_title.append(disney_plus_title).append(hulu_title).append(netflix_title)

,id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix
8803,ns8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix
8804,ns8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix
8805,ns8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix
8806,ns8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix

In [155]:
dfRatings=pd.concat(map(pd.read_csv,glob.glob(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\PI_ML_OPS-main\Dataset\MLOpsReviews\ratings\*.csv")))
dfRatings.rename(columns={ 'movieId' : 'id' },inplace=True)
dfRatings

         userId  rating   timestamp      id
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [149]:
agrupadosDfRatings=dfRatings[["id","rating","userId"]].groupby(by=['id']).mean()

In [ ]:
res=pd.merge(b,agrupadosDfRatings, on="id",how="outer")
res.head(2)

In [ ]:
res["rating_y"] = round(res["rating_y"].astype(dtype="float"),2)
res["userId"] = res["userId"].astype(dtype="int64")
res.head(2)

In [ ]:


 

#cd
#.\venv\
#Set-ExecutionPolicy -ExecutionPolicy Remotesigned -Scope process
#.\Scripts\
#.\activate
#cd ..
#uvicorn main:app
#uvicorn main:app --reload
#http://localhost:8000
#http://localhost:8000/docs